@font-face {
  font-family: "Rollover";
  src: url("../fonts/Rollover.woff2") format("woff2"),
    url("../fonts/Rollover.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Omegasans";
  src: url("../fonts/omegasansregular-webfont.woff2") format("woff2"),
    url("../fonts/omegasansregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "./layout";
@import "./nav";
@import "./typography";
@import "./buttons";
@import "./forms";
